.about{
    background-color: #707B6D;
    height: 300vh;
}
.scene.three {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding-top: 40vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about-intro-block {
    position: relative;
    margin: -8rem 5% 20% auto;
    padding: 0;
    overflow: hidden;
    width: 50%;

}

.about-intro-text {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    z-index: 3;
    position: relative;
    padding: 1.5rem 1rem 0.5rem 1rem;
    margin: 0
}

.head-shot-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 800px
}

.head-shot {
    width: 100%;
    max-width: 400px;
    height: 500px;
    background-image: url('../assets/images/background1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    flex-shrink: 0;
    margin-right: 150px;
    margin-top: 50px;
    animation : fadeInFromLeft 1s ease-out forwards;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    gap: 4rem;
    text-align: right;
    animation : fadeInFromRight 2s ease-out forwards;

}

.container h4 {
    color: var(--dark-blue);
    font-size: 2rem;
    margin-left: 100px;

}

.container strong {
    color: white;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
}

.counter {
    display: inline-block;
    min-width: 200px;
    text-align: right;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-left: 100px;
    text-align: right;
}


