.scroll-hint {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #333;
    animation: bounce-down 1.4s infinite ease-in-out;
    line-height: 1.2;
    gap: 0.1rem;
}

.scroll-text {
    margin-bottom: 0.1rem;
    font-weight: bold;
}

.scroll-icon {
    font-size: 1.5rem;

    line-height: 1;
    text-align: center;
}

@keyframes bounce-down {
    0%, 100% { transform: translate(-50%, 0); }
    50% { transform: translate(-50%, 10px); }
}

.scene {
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    position: relative;
}

.scene.one {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--powdery-pink);
    text-align: center;
}

.landing-img {
    height: 300vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.landing-img1 {
    background-image: url('../assets/images/b1.jpeg');
}

.landing-img2 {
    background-image: url('../assets/images/b2.jpg');
}

.landing-img3 {
    background-image: url('../assets/images/b4.jpeg');
}

.landing-img4 {
    background-image: url('../assets/images/b3.jpeg');
}

.scene.two {
    height: 150vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding-top: 40vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(
            to bottom,
            var(--light-wheat) 0%,
            rgba(238, 236, 225, 0.8) 40%,
            rgba(255, 255, 255, 0.6) 75%,
            #ffffff 100%
    );
}

.headlines-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60vh;
    min-width: 510px;
    z-index: 2;
    pointer-events: none;
    justify-content:center;
    margin-top: 3vh;
}

.scene-text.top, .scene-text.bottom {
    position: relative;
    z-index: 3;
    overflow: visible;
    will-change: transform, opacity;
    transition: none;
}

#why-headline,
#misson-headline {
    font-family: 'Playfair Display', serif;
    font-size: 4.1rem;
    font-style: italic;
    color: #bfc1c4;
    font-weight: 400;
    line-height: 1.08;
    margin: 0;
    opacity: 0.83;
    letter-spacing: 0.01em;
    pointer-events: none;
    transition: none;
}

#why-headline{
    margin-left: 7vw;
}

.home-intro-block {
    position: relative;
    margin: 0 8% 0 0;
    padding: 0;
    overflow: hidden;
    width: 50%;
    line-height: 2;
}

.home-intro-text {
    color: var(--dark-sage);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    z-index: 3;
    position: relative;
    padding: 1.5rem 1rem 0.5rem 1rem;
    margin: 0
}

.values {
    margin-top: 0;
    background-color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.marquee-row {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    align-items: center;
    /*margin-bottom: 5%; <!-- Todo -->*/
}

.marquee-content {
    display: inline-flex;
    gap: 3rem;
}

.marquee-content li {
    list-style: none;
    font-size: 4rem;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
}

.marquee-content li::before {
    content: "· ";
    margin-right: 0.5rem;
}

.left-to-right .marquee-content {
    animation: scroll-left-to-right 40s linear infinite;
}

.right-to-left .marquee-content {
    animation: scroll-right-to-left 40s linear infinite;
    animation-delay: -12s;
}

@keyframes scroll-left-to-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes scroll-right-to-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.center-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

