body{
    background-color: white;
}
main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    margin-top: 100px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: #000000;
    text-decoration: underline;
}

.navbar-wrapper {
    opacity: 1 !important;
    pointer-events: auto !important;
    transform: translateY(0) !important;
    transition: none !important;
}
.navbar-wrapper.visible,
.navbar-wrapper.visible-bottom {
    transform: translateY(0) !important;
}

.brand-logo{
    width: 95vw;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    margin-top: 1rem;
    border-radius: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-black {
    border: 2px solid black;
    margin-top: 5%;
    color: black;
    font-size: 1rem;
}

.btn-black:hover {
    background-color: black;
    color: var(--light-grey);
}