body{
    background-color: white;
}
main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    margin-top: 100px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: #000000;
    text-decoration: underline;
}



.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 95%;
    margin: 0 auto;
    z-index: 1000;
    background-color: rgba(238, 226, 223, 0.8);
    border-radius: 10px;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    opacity: 1;
    pointer-events: none;
    transform: translateY(50px);
    transition: opacity 0.4s cubic-bezier(0.5, 1.2, 0.5, 1),
    transform 0.4s cubic-bezier(0.5, 1.2, 0.5, 1);
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100%;
    box-sizing: border-box;
    gap: 2rem;
    min-width: 0;
}

.logo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
}

.logo a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

/* 메뉴 */
.menu {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    white-space: nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    overflow: visible;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.menu a:hover {
    color: var(--dark-sage);
}