main {
    padding: 0;
    padding-bottom: 300px;
    margin-top: 10%;

}

.main-text {
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 150px;
    /*font-family: 'Comic Neue', cursive;*/
    /*background-color: white;*/
}

.service-block-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
    position: relative;
    perspective: 1000px;
}

.service-block {
    margin-bottom: 1.5rem;
    transform: translateY(500%);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    will-change: opacity, transform;
}

.service-block.show {
    opacity: 1;
    transform: translateY(0);
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #333;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.accordion-header h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.toggle-icon {
    width: 50px;
    height: 50px;
    padding-left: 1rem;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(90deg);
}

.accordion-content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0.4s ease, opacity 0.4s ease;
}

.accordion-content.open {
    opacity: 1;
    height: auto;
}