:root {
    --soft-black: #262626;
    --light-grey: #D9D9D9;
    --light-wheat: #EEECE1;
    --dark-sage: #707B6D;
    --powdery-pink: #EEE2DF;
    --dark-blue: #2c3e50;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--light-wheat);
    color: var(--soft-black);
    line-height: 1.6;
    overflow-x: hidden;
}

header {
    background: transparent;
    color: black;
    /*padding: 1rem;*/
    text-align: left;
    /*height: 0px;*/
}

/*navbar*/
.navbar-wrapper {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80%;
    background-color: rgba(238, 226, 223, 0.8);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-color: #4A90E2;

}

.navbar {
    max-width: 1200px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    flex: 1;
}

.menu a {
    color: black;
    margin: 0 1rem;
    text-decoration: none;
}

.menu a:hover {
    color: var(--dark-sage);
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border: 2px solid white;
    text-decoration: none;
    margin-top: 1rem;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-white {
    /*background-color: white;*/
    color: white;
    border-color: white;
}

.btn-black {
    margin-top: 50px;
    color: black;
    border-color: black;
}

/* footer */
footer {
    background: var(--dark-sage);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 0rem;
    height: 500px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    animation: fadeInFromTop 3s ease-out forwards;
}

.connect-left {
    animation: fadeInFromLeft 2s ease-out forwards;
}

.connect-center {
    animation: fadeInFromRight 4s ease-out forwards;
}

.connect-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
    /*background-color: #9aa99f; !* Cedar 느낌의 초록빛 배경 *!*/
    color: white;
    flex-wrap: wrap;
    gap: 2rem;
}

.connect-left {
    margin-left: 15rem;
}

.connect-center img {
    margin-right: 10rem;
    width: 380px;
}

.btn-white:hover {
    background-color: white;
    color: var(--dark-sage);
}

.btn-black:hover {
    background-color: black;
    color: var(--light-grey);
}
